.blue {
	color: rgb(42, 49, 149);
}

.purple {
	color: rgb(169, 53, 131);
}

.magenta {
	color: rgb(218, 51, 97);
}

.orange-red {
	color: rgb(246, 93, 78);
}

.orange {
	color: rgb(243, 153, 67);
}

.yellow {
	color: rgb(238, 215, 63);
}
